.button {
  padding: 15px 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.button.primary {
  background-color: #613ad1;
  color: #fafafc;
}

.button.secondary {
  background-color: #383640;
  color: #fafafc;
}

.button.outline {
  background: #fafafc;
  color: #383640;
  border: 1px solid #e4e3e8;
}

.button.minimal {
  background-color: #f1f0f5;
  color: #383640;
}
