.card {
  background-color: #fafafc;
  border-radius: 10px;
}

.cardFooter {
  margin: 37px -35px -37px -35px;
  background-color: #f1f0f5;
  border-radius: 0 0 10px 10px;
}

.card,
.cardFooter {
  padding: 37px 35px;
}
