.input {
  padding: 18px 21px;
  background: #fafafc;
  color: #383640;
  border: 1px solid #c8c6d0;
  border-radius: 5px;
}

.input:focus {
  padding: 17px 20px;
  border-color: #613ad1;
  border-width: 2px;
}

.input::placeholder {
  color: #c8c6d0;
}
