.qrcodeForm {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
}

.input {
  margin: 10px 0 30px;
  font-size: 18px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
  margin-top: 20px;
}
