.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  flex-shrink: 0;
  padding: 24px;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 50px;
}

.main {
  position: relative;
  z-index: 0;
  flex-grow: 1;
}
